---
import Layout from "../layouts/Layout.astro";
import {
  SUB_TITLE,
  BIO_TEXT,
  BIO_ITEMS,
  NEWS,
  PUBLICATIONS,
  NAME,
} from "../lib/consts";
import { Content as Biography } from "../components/biography.md";
import { Image } from "astro:assets";
import Portfolio from "../assets/ack.png";
import PublicationItem from "../components/PublicationItem.astro";
---

<Layout>
  <h1 class="text-3xl font-semibold">
    {NAME}
  </h1>
  <div class="flex items-center">
    <div>
      <h2 class="mt-0">{SUB_TITLE}</h2>
      {BIO_TEXT.map((item) => <p>{item}</p>)}
      <p class="leading-5">
        {
          BIO_ITEMS.flatMap(Object.entries).map(([key, value]) => (
            <div class="my-2">
              <span class="font-bold">{key}:</span>
              {value}
              <br />
            </div>
          ))
        }
      </p>
    </div>
    <div class="grow"></div>
    <div class="sm:mr-10">
      <Image
        src={Portfolio}
        alt="Portfolio"
        class="my-0 aspect-square max-h-32 max-w-32 object-cover sm:max-h-40 sm:max-w-40"
      />
    </div>
  </div>
  <Biography />
  <h2>News</h2>
  <div class="flex flex-col gap-3">
    {
      NEWS.map((item) => (
        <span class="leading-6">
          <span class="rounded-lg bg-zinc-100 p-1 font-mono">{item.date}</span>{" "}
          {item.content}
        </span>
      ))
    }
  </div>
  <h2>Publications</h2>
  <div class="flex flex-col gap-2">
    {PUBLICATIONS.map((item) => <PublicationItem item={item} />)}
  </div>
</Layout>
